.chat-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.chat-log {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 80%;
    margin-bottom: 20px;
}

.chat-bubble {
    background-color: #007aff;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 20px; /* Increase the margin-bottom value to add more spacing */
}

.user-bubble {
    background-color: #e5e5ea;
    color: #000;
    align-self: flex-end;
}

#user-input {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#input-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 20px;
    overflow: hidden;
}

#user-query {
    flex: 1;
    padding: 10px;
    border: none;
    background-color: transparent;
}

#submit-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

#submit-icon {
    width: 24px;
    height: 24px;
    fill: #007aff;
}

#response-div {
    margin-top: 20px;
    font-weight: bold;
}